.pop-up__save-button {
  margin: 48px 0 0;
  background-color: #000;
  color: #FFF;
  border: none;
  width: 100%;
  min-height: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 415px) {
  .pop-up__save-button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
